body {
	background-color: #3c3c3c;
}

#container {
	position: relative;
	border: 1px solid grey;
	height: 98vh;
	width: 100%;
}

svg {
	position: absolute;
	width: 250px;
	height: auto;
	transition: 50ms ease-in;
}